# App Port
PORT=

# Database Credentials
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Connection String for Prisma
DATABASE_URL=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=

# Minio
S3_ENDPOINT=http://localhost:9000
S3_REGION=us-east-1
S3_BUCKET=avatars
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_FORCE_PATH_STYLE=true